@import '../../sass/palette.scss';

.tableContainer {
  flex-basis: 70%;
  max-height: 40%;
  width: 100%;

  th, tbody {
    background-color: $white !important;
    text-align: center !important;
    color: $green;
  }

  th {
    border-bottom: 1px solid $green;
  }

  tr {
    &:hover {
      background-color: $light-green;
      color: $white;
    }
  }
}