@import '../../sass/palette.scss';

.topmenu {
    border: 0;
    border-bottom: 1px solid $hard-pink;
    box-shadow: none;
    height: 64px;
    z-index: 0;
    background: $hard-pink;
    display: flex;
    justify-content: center;
    align-items: center;

    .linkContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      height: 100%;

      &:hover {
        background-color: $shadow-pink;
      }
    }

    .selected {
      border-bottom: 1px solid $grey;
    }

    a {
      color: #fffffa;
      text-decoration: none !important;
    }

    .logo {
      width: 92px;
      position: absolute;
      left: 0px;
      top: -5px;
    }
};